body {background-color: #D3B99F;
      }

.header {
    padding: 10px;
    text-align: center;
    background: #664147;
    color: #F39C6B;
    font-size: 15px;
  }
  
  .header img {
    float: left;
    padding-right: 10px;
    width: 200px;
    height:180px;


  }


/* Style the search box */
#mySearch {
  float: left;
    width: 20%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu */
  #myMenu {
    list-style-type: none;
    width: 20%;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation links */
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: #eee;
  }
  
  .footer-clean {
    padding:50px 0;
    background-color:#F39C6B;
    color:#4b4c4d;
  }
  
 
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  
  