
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 2px 100px;
    z-index: 100000;
    background: #664147;
    color: #F39C6B;
    font-family: 'Poppins',sans-serif;
}
header.sticky{
    padding: 2xp 100xp;
    background: #a86d76 ;
}
/*For logo*/
.picRight{
    float: right;
    margin-left: 20xp;
}

header ul1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul1 li{
    position: relative;
    list-style: none;
}

header ul1 li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-weight: 500px;
   transition: 0.6s;
    padding: 5px;
    border: 3px outset gray;
    background-color: rgb(213, 204, 232);
    display: flex;
}

ul1 li a:hover{
    background-color: rgb(149, 164, 233);
}
ul1 li a:active{
    border: 3px inset gray;
}

li{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: rgba(255, 255, 255, .6);
}


*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}




